<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was born on <%= @owner.birthdate %>.</p>
<p>It is <%= Date.today %>.</p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>
